/*CSS Reset (Meyer's)*/
/*Both Sections*/
:root {
    --primaryclr: rgb(138,158,160);
    --secondaryclr: rgb(204,218,219);
}

html {
    overflow: visible;
    min-height: 100vh;
    width: 100%;
}

body {
    background-color: black;
    font-family: "Acme";
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
/*Right Section*/

.rightside {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 0 1 auto;
}

/*Top Right Section*/

.rightsidetop {
    background-color: rgb(230, 230, 230);
    padding: 3rem 0;
    margin: 1rem;
    line-height: 1.5rem;
}

/*Middle Right Section*/

h2 {
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    background-color: var(--secondaryclr);
}

label {
    padding-bottom: 5px;
    margin-left: 5px;
    font-family: "Righteous";
    color: rgb(0, 0, 0);
}

input {
    margin-left: 5px;
}

form {
    background-color:var(--primaryclr);
    width: 100%;
}

.formgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5rem 0 1rem 0;
}

.formitem {
    display: flex;
    flex-direction: column;
}

input:invalid {
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) solid 2px;
    background-color: rgb(247, 160, 160);
}

/*Right Section Bottom*/
.rightsidebottom {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.rightsidebottom > button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 20%;
    font-family: "Acme";
    background-color: var(--primaryclr);
    border-style: hidden;
}

button:hover {
    cursor: pointer;
    background-color: var(--secondaryclr);
    border: solid 1px black;
}

.rightsidebottom > p {
    font-family: "Acme";
    margin: 0 1rem 1rem 1rem;
}

/*Left Section*/
.vasepic {
    max-width: 50vw;
    height: 100vh;
    object-fit: cover;
    flex: 0 0 auto;
}



/*Responsiveness*/
@media (max-width: 410px) {
    .flexcontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .rightside {
      width: 100%;
    }
  
    .vasepic {
      height: 50vh;
      object-fit: contain;
      object-position: center bottom;
    }
  }
  

@media (max-width: 727px) {  
    .rightsidebottom > p {
        font-family: "Acme";
        margin: 0 0 0 1rem;
    }

    .rightsidebottom > button {
        margin: 1rem 0 0 1rem;
        padding: 0rem;
    }
}